body {
    width: 35em;
}

.image-sizer-logo {
    height: 150px;
    width: 160px;
    float: right;
    padding: 10px;
}

h1 {
    padding-top: 10px;
    font-size: xx-large;
    margin-left: 10px;
}
  
h3 {
    font-size: 14px;
    margin-left: 10px;
    padding-top: 5px;
}

hr {
    margin-right: 100px;
}

footer hr{
    margin-right: 0;
}

.interaction-container {
    display: flex;
}

.get-image-info-button {
    margin: 0 15px 0 15px;
    flex: 30%;
}

#progress-bar {
    flex: 70%;
    margin: 0 5px 0 5px;
    background-color: lightgray;
}
  
#inner-prog-bar {
    width: 1%;
    height: 30px;
    background-color: gray;
    font-weight: 725;
    padding-left: 5px;
}

#image-list-container {
    border-bottom: black;
    border-width: 3px;
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    margin: 0 10px 0 10px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    max-width: 400px;
    word-wrap: break-word;
}

table td:nth-child(3),
table th:nth-child(3) {
    min-width: 110px;
}

td {
    font-size: small;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}


.sorting,
.sorting_asc,
.sorting_desc {
  cursor: pointer;
}

.sorting {
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIUnC2nKLnT4or00PvyrQwrPzUZshQAOw==);
  background-position: right .8rem center;
  background-repeat: no-repeat;
}

.sorting_asc {
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIRnC2nKLnT4or00Puy3rx7VQAAOw==);
}

.sorting_desc {
  background-image: url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);
}

footer {
    font-size: small;
    text-align: center;
    margin-bottom: 5%;
    margin-top: 9%;
}

.footer-helper {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-helper span{
    flex-wrap: wrap;
    align-items: center;
    padding: 0% 3% 2% 3%;
}